.topnavtxt
  .topnavstat
    #login
      - if @current_user
        .dropdown
          = link_to @current_user.name, user_path(@current_user), class: 'dropbtn'
          .dropdown-content
            = link_to 'Log Out', logout_path
      - else
        = link_to 'Log in ', '/login'